.container {
  width: 80%;
  margin: auto;
}

.sty {
  border: 2px solid black;
}
#main-footer {
  background-color: brown;
  text-align: center;
  margin: auto;
  font-size: 25px;
}
#Comment-box textarea {
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  padding: 6px;
  height: 150px;
  width: 40%;
}
.comment1 {
  border-radius: 10px;
  display: block;
  margin-top: 10px;
  padding: 6px;
  height: 150px;
  width: 40%;
}
.button1 {
  border-radius: 10px;
  margin-top: 10px;
  height: 45px;
  background: #1eae9e;
  border: 3px solid #006633;
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 16px;
}
.button1:hover {
  background: #168074;
  box-shadow: inset 7px 5px 8px #1a998a, inset -7px -5px 8px #1a998a;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.mystyleh1 {
  color: red;
}
